---
title: Joe Steg Design || Limitless Design and Print
---

<div class="projects_page">
  
  <img src="images/limitless.jpg">

  <h3>LIMITLESS PRINT & DESIGN</h3>

  <p>Limitless is a Print and Design service that was developed with a team of designers at Painful Pleasures. Limitless (which was branded as a separate company entirely) was created to service the media needs of tattoo artists, bands, and other people in the alternative industry. The idea behind the branding of Limitless was aboriginal cultures around the world.</p>

</div>