---
title: Joe Steg Design || Limitless Design and Print
---

<div class="projects_page">
  
  <img src="images/recovery_tattoo.jpg">

  <h3>NOSE LABRET KIT</h3>

  <p>Designed for Painful Pleasures new line of jewelry. The Nose Labret kit is a stand alone display case with unfolding directions of use. Designed to be minimal and simple to understand.</p>

  <img src="images/nose_labret_sheet.jpg">

</div>