---
title: Joe Steg Design || Limitless Design and Print
---

<div class="projects_page">
  
  <img src="images/recovery_tattoo.jpg">

  <h3>RECOVERY AFTERCARE, TATTOO</h3>

  <p>Recovery Tattoo Salve is a product to use before / during / and after tattooing. Recovery Tattoo Aftercare is branded with ink billows and contrast of black and white, which were the earliest tattoo pigments used.</p>

  <img src="images/recovery_tattoo_box.jpg">

</div>