---
title: Joe Steg Design || Limitless Design and Print
---

<div class="projects_page">
  
  <img src="images/recovery_numb.jpg">

  <h3>RECOVERY AFTERCARE, NUMB</h3>

  <p>This product is made to numb the skin before / during body modification sessions. Recovery Numb lies underneath the Recovery brand and is designed to reflect the chilling, tingling sensation the product provides.</p>

</div>